@import "../../config";
/* Contact Form Container */
.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Left Section - Form */
.contact-form {
  padding: 20px;
}

.contact-title {
  color: $secondary-color;
  font-weight: 600;
}

.contact-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #505050;
  line-height: normal;
}

@media (max-width: 768px) {
  .contact-heading {
    margin-top: 60px;
  }
}

.contact-text {
  color: gray;
  margin: 20px 10px;
}

.spinner {
  animation: spin 1s linear infinite;
  font-size: 16px;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact-form-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-input,
.contact-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-button {
  background-color: $secondary-color;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: $secondary-color;
}

/* Right Section - Contact Info */
.contact-info {
  padding: 25px;
}

.contact-help-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #505050;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contact-help-text {
  color: #555;
  margin: 10px 0;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  // background: linear-gradient(to right, #c2385c, lighten($secondary-color, 8%));
  border: 0.5px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.contact-icon {
  color: #c2385c;
  font-size: 2rem;
  margin: 20px;
}

.contact-detail-title {
  font-weight: 400;
  font-size: 1.3rem;
  color: #555;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact-detail-text {
  color: #555;
}

/* Social Media Icons */
.contact-social-title {
  margin-top: 20px;
  font-weight: 600;
}

.contact-social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  padding: 10px;
  background: #fee;
  border-radius: 50%;
  cursor: pointer;
}

.social-icon-item {
  color: red;
  font-size: 1.2rem;
}
